In [ ]:
!mkdir ~/.kaggle
!mv kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions download -c g-research-crypto-forecasting

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading __init__.py to /content
  0% 0.00/59.0 [00:00<?, ?B/s]
100% 59.0/59.0 [00:00<00:00, 124kB/s]
Downloading competition.cpython-37m-x86_64-linux-gnu.so to /content
  0% 0.00/660k [00:00<?, ?B/s]
100% 660k/660k [00:00<00:00, 39.4MB/s]
Downloading asset_details.csv to /content
  0% 0.00/444 [00:00<?, ?B/s]
100% 444/444 [00:00<00:00, 1.01MB/s]
Downloading example_test.csv to /content
  0% 0.00/5.78k [00:00<?, ?B/s]
100% 5.78k/5.78k [00:00<00:00, 15.0MB/s]
Downloading train.csv.zip to /content
 98% 1.00G/1.02G [00:08<00:00, 220MB/s]
100% 1.02G/1.02G [00:08<00:00, 134MB/s]
Downloading supplemental_train.csv.zip to /content
 96% 90.0M/94.2M [00:00<00:00, 144MB/s]
100% 94.2M/94.2M [00:00<00:00, 181MB/s]
Downloading example_sample_submission.csv to /content
  0% 0.00/406 [00:00<?, ?B/s]
100% 406/406 [00:00<00:00, 372kB/s]

In [ ]:
!unzip supplemental_train.csv.zip
!unzip train.csv.zip

Archive:  supplemental_train.csv.zip
  inflating: supplemental_train.csv
Archive:  train.csv.zip
  inflating: train.csv

In [ ]:
!rm supplemental_train.csv.zip
!rm train.csv.zip

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ad = pd.read_csv("asset_details.csv")
ad.T

                      0             1        2   ...       11       12        13
Asset_ID               2             0        1  ...        8       10         4
Weight            2.3979       4.30407  6.77992  ...  1.09861  1.09861   3.55535
Asset_Name  Bitcoin Cash  Binance Coin  Bitcoin  ...     IOTA    Maker  Dogecoin

[3 rows x 14 columns]

In [ ]:
tr = pd.read_csv('train.csv')

tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24236806 entries, 0 to 24236805
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   Asset_ID   int64
 2   Count      float64
 3   Open       float64
 4   High       float64
 5   Low        float64
 6   Close      float64
 7   Volume     float64
 8   VWAP       float64
 9   Target     float64
dtypes: float64(8), int64(2)
memory usage: 1.8 GB

In [ ]:
tr.shape

(24236806, 10)

In [ ]:
dg = tr[tr.Asset_ID==4]
dg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1156866 entries, 7269141 to 24236796
Data columns (total 10 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   timestamp  1156866 non-null  int64
 1   Asset_ID   1156866 non-null  int64
 2   Count      1156866 non-null  float64
 3   Open       1156866 non-null  float64
 4   High       1156866 non-null  float64
 5   Low        1156866 non-null  float64
 6   Close      1156866 non-null  float64
 7   Volume     1156866 non-null  float64
 8   VWAP       1156866 non-null  float64
 9   Target     1011892 non-null  float64
dtypes: float64(8), int64(2)
memory usage: 97.1 MB